{% extends 'base.html' %}

{% block content %}
    {% include 'clinic/patient/_header.html' with active='new' %}
    <div class="card">
        <table class="table mb-0">
            <thead>
            <tr>
                <th>Patient</th>
                <th>Clinic</th>
                <th>Timr</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for item in reservations %}
                <tr>
                    <td class="align-middle">{{ item.name }}</td>
                    <td class="align-middle">{{ item.subject.get_html_badge }}</td>
                    <td class="align-middle">{{ item.questions_count }} questions</td>
                    <td class="text-right">
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td class="bg-light text-center font-italic" colspan="4">No quiz matching your interests right
                        now.
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}